/*@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"); 
} */
body {
    font-family:     Verdana, Geneva, Arial, sans-serif;
    font-size:       small;
}
h1, h2 {
    color:           #FC9E40;
    border-bottom:   thin dotted #888888;
}
h1 {
    font-family:     "Emblema One", sans-serif;
    font-size:       220%;
}
h2 {
    font-size:       130%;
    font-weight:     normal;
}
blockquote {
    font-style:      italic;
}

table.popuptable {
    margin:      20px 20px 20px 20px; /* no commas; order: top, right, bottom, left*/
    border:           none;
    border-collapse:  collapse; /* eliminates gap between cells */
}

table.popuptable td, th {
    font-weight:     lighter;
    border:           none;
}

table.popuptable th {
    background-color: #ff9933; /* #FC9E40; */
}

table {
    margin:      20px 20px 20px 20px; /* no commas; order: top, right, bottom, left*/
    border:           thin solid black;
    caption-side:     bottom;
    padding:			0;
    border-collapse:  collapse; /* eliminates gap between cells */
}

table table th {
    background-color: white;
    position: absolute;
}


#thetable th, #thetable td{
    border:solid 1px #000;
    padding:.25em;
}


.sortByColumn{
    font-weight:bold;
    cursor:pointer;
}

#thetable th.asc:after{
    /* background-image: url(images/asc.gif);  */
    content:'Asc';
    /* content:'Asc';  */
    display:inline-block;
    padding:0 .5em;
    color:green;
}
#thetable th.desc:after{
    content:'Desc';
    /* background-image: url("images/desc.gif"); */
    /* content:'Desc'; background-image: url(../images/desc.gif); */
    display:inline-block;
    padding:0 .5em;
    color:blue;
}

.titles{
    height: 30px;
    word-wrap: break-word;
}

td, th {
    padding: 2px 2px;
    font-family: verdana, arial, sans-serif;
    font-size: 10px;
    border:          2px solid #BFC6CF; /* thin dotted gray; */
    font-weight:     lighter;
}

th {
    background-color: #ff9933; /* #FC9E40; #ff9933 #C1F0F6 */
}

tr:hover {
    background-color: #99ff33;
}

.cellcolor {
    background-color: #ff9933; /* fcba7a; */
}


caption {
    font-style:       italic;
    padding-top:      8px;
}

.neg {
    color:	red;
}

.pos {
    color:	green;
}

.center {
    text-align:       center;
}

.right {
    text-align:       right;
}
.left {
    text-align:       left;
}

li {
    /* list-style-image: url(images/backpack.gif); */
    padding-top:      5px;
    margin-left:      10px;
}

/* This group (svg, caption, key path, key line) for "thresholdkey graph" in table (52 week high/low).  */

svg {
    font: 9px sans-serif;
    /* font-weight: bold; */
}

.caption {
    font-weight: bold;
}

.key path {
    display: none;
}

.key line {
    stroke: #000;
    shape-rendering: crispEdges;
}